{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

       {% block stylesheet %}
            {{ encore_entry_link_tags('profile') }}
        {% endblock %}

        {% block javascript %}
            {{ encore_entry_script_tags('profile') }}
        {% endblock %} 

{% block content %}
  <div id="profile"></div>
{% endblock %}
