@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.logo{
    font-family: 'Bebas Neue', cursive;
    color: silver;
}

.search{
    width: 65%;
    margin: auto;
    margin-top: 5px;
    background-color: #7c57ee;
    border: 1px solid #7c57ee;
}

.searchTerm{
    width: 87%;
    padding-left: 8px;
    outline: none;
    height: 45px;
    border: none;
    color:silver;
    background-color: #141414;
}

.searchButton{
    width: 13%;
    outline: none;
    height: 45px;
    border: none;
    color: silver;
    background-color: #7c57ee;
}

.navbar-nav .nav-link{
    color:silver;
}

.dropdown-menu li .dropdown-item{
    color: silver;
}

.dropdown-menu li .dropdown-item:active{
    background-color: #7c57ee;
} 

.dropdown-menu li .dropdown-item:hover{
    background-color: #7c57ee;
    color: azure;
}

.dropdown-menu{
    background-color: #141414;
}

.mobile-nav i{
    color: silver;
}